!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  <html class="no-js lt-ie9" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    | <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title= 'Jazz Transcriptions'
    meta(name='description', content='A place to upload and share transcriptions of jazz solos')
    meta(name='author', content='')

    // Bootstrap: Le HTML5 shim, for IE6-8 support of HTML elements
    //[if lt IE 9]
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    //<![endif]

    style
      body {
        padding-top: 60px;
      }


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    //script(src='js/libs/modernizr-2.0.6.min.js')


    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/aristo/jquery-ui-1.8.5.custom.css')
    //script(type='text/javascript', src='/javascripts/json.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    //script window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
    //script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    //script(type='text/javascript', src='/javascripts/underscore-min.js')
    //script(type='text/javascript', src='/javascripts/backbone-min.js')
    //link(rel='stylesheet/less', href='/stylesheets/bootstrap.less')
    //link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/bs/less/bootstrap.less.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bs/docs/assets/css/bootstrap.css')
    //link(rel='stylesheet/less', href='/stylesheets/myStyles.less')
    link(rel='stylesheet', type='text/css', href='/stylesheets/myStyles.less.css')
    //link(rel='stylesheet', href='/stylesheets/bs/docs/assets/css/bootstrap.css')

    //script(src='/stylesheets/less-1.1.5.min.js')
    script(type="text/javascript", src="/stylesheets/bs/js/bootstrap-tooltip.js")
    script(type="text/javascript", src="/stylesheets/bs/js/bootstrap-popover.js")
    script(type="text/javascript", src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js")
    script(type="text/javascript", src="/javascripts/validate.js")
    script(type='text/javascript', src='/javascripts/myUtil.js')

    -each cssScript in cssScripts
      link(rel='stylesheet', href= cssScript)
    -each script in scripts
      script(type='text/javascript', src= script)
    //

    - if (typeof(user) !== 'undefined' && user && user.username)
      - userLoggedIn = true
    - else
      - userLoggedIn = false

    // Fonts
    <script type="text/javascript" src="http://use.typekit.com/qvh7yaa.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    | <link rel="stylesheet" type="text/css" href="//webputty.commondatastorage.googleapis.com/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjM7EQM.css" />
    | <script type="text/javascript">(function(w,d){if(w.location!=w.parent.location||w.location.search.indexOf('__preview_css__')>-1){var t=d.createElement('script');t.type='text/javascript';t.async=true;t.src='http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjM7EQM';(d.body||d.documentElement).appendChild(t);}})(window,document);</script>

  body
    <div id="fb-root"></div>
    #entire-page
      #entire-page-minus-footer
        .donation-header
            .donation-top
                .donation-text
                    | This website took lots of time and effort to build. If you have gotten any use out of it, I would really appreciate you considering a donation. Even a few dollars is great. It will help me have time to make the site even better. Thank you!
                .donation-x
                    | X
            .donation-bottom
                .donation-button
                    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                      input(type='hidden', name='cmd', value='_s-xclick')
                      input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCn4cVLdyyYewhM/N5by0OJNi0xcsTyBdRfP5pIWBgXpvtpcKvIAjEPudmZdcwqxE3e+/SRyMupzwfWVcRDKeHOKKL0hPm92sh68EN+9/oy9V41PsXWQ44QKjsaWOMuFlS/XksfFosSMj1R9rajUp+kNFua3C0F6bCqdMvAgcDaJjELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIjGjHXrG21SyAgaCnyuOpiqD+26AUJoIcEdmtCAqNWJS4GXQ1l5sqOGuhh1NUYmRPbaSAD3mh7/6hi1pUdQcaIawrYKVF3VN0VS9QYOArvOH7pKjJAf4KsfbuXV+xidmXUzcQlYoVDNZxg4ZnK3Sj9RqBxYrfDTk8I2O1nWOEPSrP0pOcs6/bgJw/J6aZ2GRfkCzPM0fFJS1o5IgWIwKK2WTPPGY2OE10IyxOoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcwNjI0MTYyODEwWjAjBgkqhkiG9w0BCQQxFgQUT2hprywtmfeuu0AnnPXc8Eb68XcwDQYJKoZIhvcNAQEBBQAEgYAL3lxYNacdlR7qeAb2teZBxm3J3julcZ0W0admJYywIDrlWVh+f0mtxKqWoXvO6WkrmAONETa+Ch1VJjukir+ZWhg37VbJQxCDeDwDY3FtjzWD+tVjAWLfFZRGlmXpRaEeA/msZO4XbyGKj9DybnkRmfIZLrSRzhWkTZc/dBhxgA==-----END PKCS7-----\
                  ')
                  input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                  img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')


        .navbar
          .navbar-inner
            .container-fluid
              a.brand(href='/')
                img#logoTopbar(src='/images/saxIcon.png', width=30, height=30)
                .text
                  | Transcription Hub
              ul.nav
                li
                  a(href='/about') About
                - if (userLoggedIn)
                  li
                    a(href='/Upload') Upload
                - else
                  li
                    a(href='/register') Register
                li
                  a(href='/bounty') Requests
                li
                  a(href='/browse') Browse
              //a.button.btn.primary.pull-left(href="/upload") Upload
              //a.button.btn.primary.pull-left(href="/register") Register
              form.navbar-search.pull-left(method='get', action='/search')
                input#searchType.jqueryHide(type='text', name='search[type]', value='transcriptions')
                input.search-query(type='text', name='search[omniSearch]', placeholder='Enter Artist/Song/Album/Instrument')
                input(type='submit', style='position: absolute; left: -9999px;') // hide submit button
              .pull-right.navbar-text
                - if (userLoggedIn)
                  .right
                    | Logged in as:
                    a#profile(href='/profile')
                      = user.username
                    a#logout(href='/logout') Log Out
                - else
                  script(type='text/javascript', src='/javascripts/login.js')
                  form.navbar-form#loginTopBar(method='post', action'=/login')
                    != partial('loginFields', {locals: {user: user}})
        != body
      #footer
        .inner.container-fluid
          .row-fluid
            .span8
              | Built with Node.js, Express, and MongoDB.
              a#footerFeedback(href='#') Feedback & Support
              | &nbsp
              a#footerPrivacy(href='/privacy') Privacy Policy
              //
                | <span class='st_email_hcount' displayText='Email'></span>
                | <span class='st_facebook_hcount' displayText='Facebook'></span>
                | <span class='st_twitter_hcount' displayText='Tweet'></span>
                | <span class='st_googleplus_hcount' displayText='Google +1'></span>
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style pull-right">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_preferred_3"></a>
              <a class="addthis_button_preferred_4"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
              </div>
              <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f7f42115ff2f684"></script>
              <!-- AddThis Button END -->
              br.inline
              &copy; 2012 Varun Singh
              #fork.inline
                iframe(src="http://ghbtns.com/github-btn.html?user=vjsingh&repo=Transcription-Hub&type=fork", allowtransparency="true", frameborder="0", scrolling="0", width="53px", height="20px", size='large')

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28499152-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    // begin olark code
    | <script type='text/javascript'>/*{literal}<![CDATA[*/window.olark||(function(i){var e=window,h=document,a=e.location.protocol=="https:"?"https:":"http:",g=i.name,b="load";(function(){e[g]=function(){(c.s=c.s||[]).push(arguments)};var c=e[g]._={},f=i.methods.length; while(f--){(function(j){e[g][j]=function(){e[g]("call",j,arguments)}})(i.methods[f])} c.l=i.loader;c.i=arguments.callee;c.f=setTimeout(function(){if(c.f){(new Image).src=a+"//"+c.l.replace(".js",".png")+"&"+escape(e.location.href)}c.f=null},20000);c.p={0:+new Date};c.P=function(j){c.p[j]=new Date-c.p[0]};function d(){c.P(b);e[g](b)}e.addEventListener?e.addEventListener(b,d,false):e.attachEvent("on"+b,d); (function(){function l(j){j="head";return["<",j,"></",j,"><",z,' onl'+'oad="var d=',B,";d.getElementsByTagName('head')[0].",y,"(d.",A,"('script')).",u,"='",a,"//",c.l,"'",'"',"></",z,">"].join("")}var z="body",s=h[z];if(!s){return setTimeout(arguments.callee,100)}c.P(1);var y="appendChild",A="createElement",u="src",r=h[A]("div"),G=r[y](h[A](g)),D=h[A]("iframe"),B="document",C="domain",q;r.style.display="none";s.insertBefore(r,s.firstChild).id=g;D.frameBorder="0";D.id=g+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){D.src="javascript:false"} D.allowTransparency="true";G[y](D);try{D.contentWindow[B].open()}catch(F){i[C]=h[C];q="javascript:var d="+B+".open();d.domain='"+h.domain+"';";D[u]=q+"void(0);"}try{var H=D.contentWindow[B];H.write(l());H.close()}catch(E){D[u]=q+'d.write("'+l().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}c.P(2)})()})()})({loader:(function(a){return "static.olark.com/jsclient/loader0.js?ts="+(a?a[1]:(+new Date))})(document.cookie.match(/olarkld=([0-9]+)/)),name:"olark",methods:["configure","extend","declare","identify"]});
    | olark.identify('3071-176-10-5080');/*]]>{/literal}*/</script>
  script(type="text/javascript")
    var _sf_async_config={uid:38105,domain:"transcription-hub.com"};
    (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
           (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
           "js/chartbeat.js");
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
         loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();

script(type='text/javascript')
  $(function() {
    var a, b, c, d, e;
    d = $(".navbar-inner a"), e = [];
    for (b = 0, c = d.length; b < c; b++)
      a = d[b], e.push(function(a) {
      if (window.location.pathname === a.pathname)
        return $(a).parent().toggleClass("active")
      }(a));
      return e
  });
