// jScrollPane
- cssScripts.push('/stylesheets/jquery.jscrollpane.css')
- scripts.push('/javascripts/jquery.jscrollpane.min.js')
- scripts.push('/javascripts/jquery.mousewheel.js')
//script(type='text/javascript', src='/javascripts/mwheelIntent.js')
.container-fluid
  .sidebar
    .well
      - if (type === 'transcriptions')
        h5 Search Transcriptions
      - else
        h5 Search Bounties
      form#searchSidebar(method='post', action='/search')
        input(type='text', name='search[title]', placeholder='Title', value=search.title || "")
        input(type='text', name='search[artist]', placeholder='Artist', value=search.artist || "")
        input(type='text', name='search[album]', placeholder='Album', value=search.album || "")
        //input.hidden(type='text', name='search[type]', value={type})
        input#searchType(type='text', name='search[type]', value='transcriptions')
        input#searchSidebarSubmit(type='submit', value='Search')

      // Pass numSearchItems to javascripts script
      // in a hacky way
      - numSearchItems = searchItems.length
      input(type='hidden', id='numSearchItems', value=numSearchItems)
      .search-pane
        - for (var sIndex in searchItems)
          - divName = 'search' + sIndex
          - s = searchItems[sIndex]
          - if (type === 'transcriptions')
            - ajaxUrl = '/transcriptions/' + s.id + '.html'
          - else
            - ajaxUrl = '/bounty/' + s.id + '.html'
          div(id=divName, ajaxUrl=ajaxUrl, sId=s.id).row.search-box.btn
            .row
              .span-one-half
                - if (type === 'transcriptions')
                  .votesArrows(class=searchItems[sIndex].id)
                    img.upVoteImg(src='/images/arrow2Up.png')
                    .numKarmaSearch.numVotes
                      = s.votes
                    img.downVoteImg(src='/images/arrow2.png')
                - else
                  | Tiadjisad bounty
              .span-one-half
                .search-result-fields
                  .search-title
                    = s.title
                  .search-artist
                    = s.artist
                  .search-album
                    = s.album
          br
  .content
    #search-display
      - if (searchItems.length > 0)
        - if (type === 'transcriptions')
          !=partial('transcriptionDisplay', {locals: { t: searchItems[0], user:user}})
        - else
          !=partial('bountyDisplay', {locals: { b: searchItems[0] }})

  //var numTranscriptions = $('#numTranscriptions').val();
  - numSearchItems = searchItems.length
  - var trId = 1;
  - for (var i = 0; i < numSearchItems; i++) {
    != '<script type="text/javascript">'
    != "$('#search' + "
    != i
    != ").click(function() {"
      - if (type === 'transcriptions')
        != "$.get('/transcriptions/' + '"
      - else
        != "$.get('/bounty/' + '"
      != searchItems[i].id
      != "' + '.html',"
      != "function(html) {$('#search-display').html(html);},"
      != "'html'"
      != ");"
    != '});'
    != '</script>'
  - }

script(type='text/javascript')
  function setVoteArrowColors(type, trId) {
    // Reset both in case we're switching
    $('.' + trId + ' .downVoteImg').attr('src', "/images/arrow2.png");
      $('.' + trId + ' .upVoteImg').attr('src', "/images/arrow2Up.png");

    if (type == 1) {
      $('.' + trId + ' .downVoteImg').attr('src', "/images/selectedArrow.png");
    } else if (type == 2) {
      $('.' + trId + ' .upVoteImg').attr('src', "/images/selectedArrowUp.png");
    }
  }
  $(function() {
    $('#search0').addClass('active');
    $('#searchType').hide();


    $('.search-box').each(function(index, elem) {
      var trId = $(this).attr('sId');
      $.get('/hasVoted/' + trId, function(hasVoted) {
        if (hasVoted === '0') {

        } else {
          setVoteArrowColors(hasVoted, trId);
        }
      });
    });
    $('.search-box').click(function() {
      var ajaxUrl = $(this).attr('ajaxUrl');
      $.get(ajaxUrl, function(html) {
        $('#search-display').html(html);
      });
    });
    // use jScrollPane for search scroll pane

    $('.search-pane').jScrollPane({showArrows: true});
  });
