script(type='text/javascript', src='/lib/jeditable/js/jquery.jeditable.js')

// Pass variables to javascripts
// in a hacky way
.jqueryHide(type='hidden', id='trId', trId=t.id)
.jqueryHide(type='hidden', id='trTitle', trTitle=t.title)

.row-fluid
  #trDisplay.span6.trDisplay
    #ownTranscription.alert.alert-error.fade.in.jqueryHide
      a.close(data-dismiss='alert', href='#') x
      Strong Can't vote on your own transcriptions!
    .row.trDisplayInfo
      .span1
        .votesArrows(class=t.id)
          a#upVote(title="Good Transcription!", href='#')
            img.upVoteImg(src='/images/arrow2Up.png')
          .numKarmaSearch
            .numVotes(class=t.id)
              = t.votes
          a#downVote(title="Mediocre or Junk Transcription", href='#')
            img.downVoteImg(src='/images/arrow2.png')
      .span7
        h5.trSongInfoDisplay
          #title.display-title.edit_area.edit
            = t.title
          #artist.display-artist.edit_area.edit
            = t.artist
          #album.display-album.edit_area.edit
            = t.album
      .span2
        a#editTr.btn.btn-primary.btn-large Edit
    .display-instrument.inline Instrument:
      #instrument.edit_area.inline.edit
        = (t.instrument || 'Not specified')
    br
    #uploadedByUsername
      | Uploaded by:
      a#uploadedByUsernameLink.jqueryHide(userId=t.userId, href='#')
      - if (typeof(t.uploadDateStr) !== 'undefined')
        | &nbsp on
        = t.uploadDateStr
    - if (t.description != '')
      .trDescription
        blockquote
          p
            = t.description
          small#trAuthor.jqueryHide
    .trComments
      //.fb-comments(data-href="http://transcription-hub.com/" + t.id, data-num-posts="2", data-width="340")
      #disqus_thread
        noscript
          | Please enable JavaScript to view the
          a(href="http://disqus.com/?ref_noscript") comments powered by Disqus
          a(href="http://disqus.com", class="dsq-brlink") blog comments powered by
            span(class="logo-disqus") Disqus
  .span6.trPdfParent
    - if (t.fileLocation)
      - pdfUrl = '/transcriptionPdf/false/' + t.fileLocation
      - pdfUrlDownload = '/transcriptionPdf/true/' + t.fileLocation

      //iframe#trPdf(src=pdfUrl)
      //iframe#trPdf(src=pdfUrl, width='500px', height='600px')
      //iframe#pdfFrame(src=pdfUrl, width='100%', height='100%')
      - if (isFirefox)
        #firefoxWarning
          | Unfortunately, Firefox does not support inline PDFs. Please use Google Chrome or Safari if you want to see transcriptions in the webpage, or simply download them below:
      - else
        iframe#pdfFrame(src=pdfUrl, width='5px', height='6px')
          You have a very old browser so we can't show you the transcription here, please upgrade to Google Chrome or Firefox!
      p
        =t.fileLocation
        br
        a(href=pdfUrlDownload) Download Transcription
    - else
      h2
        a(href=t.url, target='_blank') Link to Transcription

script(type='text/javascript')
  $(function() {
    $('.jqueryHide').hide();
    var trId  = $('#trId').attr('trId');
    var trTitle  = $('#trTitle').attr('trTitle');
    $.get('/hasVoted/' + trId, function(hasVoted) {
      if (hasVoted === '0') {

      } else {
        setVoteArrowColors(hasVoted, trId);
      }
    });

    // Set handers for voting up or down
    function doOnClick(id, typeVote) {
      $(id).click(function(c) {
        $.get('/doVote/' + typeVote + '/' + trId, function(obj) {
        obj = JSON.parse(obj);
          if (obj && obj.success) {
            setVoteArrowColors(typeVote, trId);
            $('.' + trId + ' .numVotes').html(obj.numVotes);
          } else if (obj && !obj.success && obj.ownTranscription) {
            $('#ownTranscription').show();
          }
        });
      });
    }
    doOnClick('#upVote', '2');
    doOnClick('#downVote', '1');


    // Get username from userid
    var userId = $('#uploadedByUsernameLink').attr('userId');
    function invalidUser() {
      $('#uploadedByUsername').html("Uploaded by: Not sure! Something went wrong");
    }
    if (!userId) {
      invalidUser();
    } else {
      $.get('/getUsername/' + userId, function (str) {
        if (str && str.length) {
          $('#uploadedByUsernameLink').attr('href', '/user/' + userId);
          $('#uploadedByUsernameLink').html(str);
          $('#uploadedByUsernameLink').show();
          $('#trAuthor').html(str);
          $('#trAuthor').show();
        } else {
          invalidUser();
        }
      });
    }

    // Resize iframe size dynamically, according to sidebar
    function resizeIframe() {
      console.log("Resizing");
      // make content box and sidebar-nav same height
      var desiredHeight = $('#trDisplay').height();
      $('.content-box').height(desiredHeight);
      var cbHeight = $('.content-box').height();
      var sbHeight = $('.sidebar-nav').height();
      ((cbHeight > sbHeight) ? ($('.sidebar-nav').height($('.content-box').height() + 35)): $('.content-box').height($('.sidebar-nav').height() + 35));
      $('#pdfFrame').height($('.content-box').height() - 60);
      $('#pdfFrame').width($('.trDisplay').width());
    }
    $(window).resize(function() {
      resizeIframe();
    })
    resizeIframe();
    var check_disqus = setInterval(function() {
      var disqus_ready = $("#dsq-comments").get(0) != null;
      if (disqus_ready) {
        clearInterval(check_disqus); // remove timer
        var height = $("#disqus_thread").height();
        var comments = $("#disqus_thread");
        comments.height(0).css({display:"block", opacity:0}); // was "display: none"
        comments.animate({opacity:1, height:height}, 500, function() {
          comments.height("auto"); // so it grows when more comments are added
        });
        setTimeout(resizeIframe, 1000);
      }
    }, 100);

    // Hide instead of closing on close
    $('.close').click(function(e) {
      e.preventDefault();
      $(this).parent().hide();
    });
    $('#editTr').click(function(e) {
      $('#title').click();
    });
    $('.edit').editable('/transcriptions/edit/' + trId, {
      type: 'text',
      submit: 'OK',
      tooltip: 'Click to edit',
      indicator: '<img src="/lib/jeditable/img/indicator.gif">',
      cancel: 'Cancel',
      id: 'param',
    });
    //CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE
    var disqus_shortname = 'transcriptionhub'; // required: replace example with your forum shortname
    var disqus_developer = 1; // for testing locally
    var disqus_identifier = 'transcription/' + trId;
    var disqus_title = trTitle;

    //DON'T EDIT BELOW THIS LINE
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  });
