// Pass variables to javascripts
// in a hacky way
.jqueryHide(type='hidden', id='trId', trId=t.id)

.row
  .span6.trDisplay
    .row.trDisplayInfo
      .span1
        .votesArrows(class=t.id)
          a#upVote(title="Good Transcription!", href='#')
            img.upVoteImg(src='/images/arrow2Up.png')
          .numKarmaSearch
            .numVotes(class=t.id)
              = t.votes
          a#downVote(title="Mediocre or Junk Transcription", href='#')
            img.downVoteImg(src='/images/arrow2.png')
      .span5
        h5.trSongInfoDisplay
          .display-title
            = t.title
          .display-artist
            = t.artist
          .display-album
            = t.album
    .display-instrument
      | Instrument:
      = (t.instrument || 'Not specified')
    br
    #uploadedByUsername
      | Uploaded by:
      a#uploadedByUsernameLink.jqueryHide(userId=t.userId, href='#')
    - if (t.description != '')
      .trDescription
        blockquote
          p
            = t.description
          small#trAuthor.jqueryHide
    .trComments
      .fb-comments(data-href="http://transcription-hub.com", data-num-posts="2", data-width="340")
  .span6
    - if (t.fileLocation)
      - pdfUrl = '/transcriptionPdf/false/' + t.fileLocation
      - pdfUrlDownload = '/transcriptionPdf/true/' + t.fileLocation

      //iframe(src=pdfUrl, width='100%', height='100%')
      //iframe#trPdf(src=pdfUrl)
      iframe#trPdf(src=pdfUrl, width='500px', height='600px')
        You have a very old browser so we can't show you the transcription here, please upgrade to Google Chrome or Firefox!
      p
        a(href=pdfUrlDownload) Download Transcription
    - else
      h2
        a(href=t.url, target='_blank') Link to Transcription

script(type='text/javascript')
  $(function() {
    var trId  = $('#trId').attr('trId');
    $.get('/hasVoted/' + trId, function(hasVoted) {
      if (hasVoted === '0') {

      } else {
        setVoteArrowColors(hasVoted, trId);
      }
    });

    // Set handers for voting up or down
    function doOnClick(id, typeVote) {
      $(id).click(function(c) {
        $.get('/doVote/' + typeVote + '/' + trId, function(obj) {
        obj = JSON.parse(obj);
          if (obj && obj.success) {
            setVoteArrowColors(typeVote, trId);
            $('.' + trId + ' .numVotes').html(obj.numVotes);
          }
        });
      });
    }
    doOnClick('#upVote', '2');
    doOnClick('#downVote', '1');

    $('.jqueryHide').hide();

    // Get username from userid
    var userId = $('#uploadedByUsernameLink').attr('userId');
    function invalidUser() {
      $('#uploadedByUsername').html("Uploaded by: Not sure! Something went wrong");
    }
    if (!userId) {
      invalidUser();
    } else {
      $.get('/getUsername/' + userId, function (str) {
        if (str && str.length) {
          $('#uploadedByUsernameLink').attr('href', '/user/' + userId);
          $('#uploadedByUsernameLink').html(str);
          $('#uploadedByUsernameLink').show();
          $('#trAuthor').html(str);
          $('#trAuthor').show();
        } else {
          invalidUser();
        }
      });
    }

    // Huge hack for twitter bootstrap:
    // Sidebar only works when position: absolute, didn't want
    // to figure out why. Instead, make the container
    // that the sidebar is in fit the size of the
    // sidebar
    //$('.trEntire').height($('.sidebar').height());
    $(window).resize(function() {
      //$('.sidebarContainer').height($('.sidebar').height());
      //$('.sidebar').height($('.sidebarContainer').height());
    })
  });
