// Pass variables to javascripts
// in a hacky way
.jqueryHide(type='hidden', id='trId', trId=t.id)

.row
  .span6
    .row
      .span1
        .votesArrows(class=t.id)
          a#upVote(title="Good Transcription!", href='#')
            img.upVoteImg(src='/images/arrow2Up.png')
          .numKarmaSearch
            .numVotes(class=t.id)
              = t.votes
          a#downVote(title="Mediocre or Junk Transcription", href='#')
            img.downVoteImg(src='/images/arrow2.png')
      .span5
        h5.trSongInfoDisplay
          .display-title
            = t.title
          .display-artist
            = t.artist
          .display-album
            = t.album
    br
    = t.description
  .span4
    - pdfUrl = 'transcriptionPdf/false/' + t.fileLocation
    - pdfUrlDownload = 'transcriptionPdf/true/' + t.fileLocation

    iframe(src=pdfUrl, width='500px', height='500px')
      You have a very old browser so we can't show you the transcription here, please upgrade to Google Chrome or Firefox!
    p
      a(href=pdfUrlDownload) Download Transcription

script(type='text/javascript')
  $(function() {
    var trId  = $('#trId').attr('trId');
    $.get('/hasVoted/' + trId, function(hasVoted) {
      if (hasVoted === '0') {

      } else {
        setVoteArrowColors(hasVoted, trId);
      }
    });

    // Set handers for voting up or down
    function doOnClick(id, typeVote) {
      $(id).click(function(c) {
        $.get('/doVote/' + typeVote + '/' + trId, function(obj) {
        obj = JSON.parse(obj);
          if (obj && obj.success) {
            setVoteArrowColors(typeVote, trId);
            $('.' + trId + ' .numVotes').html(obj.numVotes);
          }
        });
      });
    }
    doOnClick('#upVote', '2');
    doOnClick('#downVote', '1');

    $('.jqueryHide').hide();
  });
