.container-fluid
  .sidebar
    .well
      - if (type === 'transcriptions')
        h5 Search Transcriptions
      - else
        h5 Search Bounties
      form#searchSidebar(method='post', action='/search')
        input(type='text', name='search[title]', placeholder='Title', value=search.title || "")
        input(type='text', name='search[artist]', placeholder='Artist', value=search.artist || "")
        input(type='text', name='search[album]', placeholder='Album', value=search.album || "")
        //input.hidden(type='text', name='search[type]', value={type})
        input#searchType(type='text', name='search[type]', value='transcriptions')
        input#searchSidebarSubmit(type='submit', value='Search')

      // Pass numSearchItems to javascripts script
      // in a hacky way
      - numSearchItems = searchItems.length
      input(type='hidden', id='numSearchItems', value=numSearchItems)
      - for (var sIndex in searchItems)
        - divName = 'search' + sIndex
        - s = searchItems[sIndex]
        div(id=divName).row.search-box.btn
          .search-title
            = s.title
          .search-artist
            = s.artist
          .search-album
            = s.album
        br
  .content
    #search-display.hero-unit
      - if (searchItems.length > 0)
        - if (type === 'transcriptions')
          !=partial('transcriptionDisplay', {locals: { t: searchItems[0] }})
        - else
          !=partial('bountyDisplay', {locals: { b: searchItems[0] }})

  //var numTranscriptions = $('#numTranscriptions').val();
  - numSearchItems = searchItems.length
  - var trId = 1;
  - for (var i = 0; i < numSearchItems; i++) {
    != '<script type="text/javascript">'
    != "$('#search' + "
    != i
    != ").click(function() {"
      - if (type === 'transcriptions')
        != "$.get('/transcriptions/' + '"
      - else
        != "$.get('/bounty/' + '"
      != searchItems[i].id
      != "' + '.html',"
      != "function(html) {$('#search-display').html(html);},"
      != "'html'"
      != ");"
    != '});'
    != '</script>'
  - }

script(type='text/javascript')
  $(document).ready(function() {
    $('#search0').addClass('active');
    $('#searchType').hide();
  });

